<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="container content">
      <main>
        {{ content }}
      </main>

      <br><br><br>
      <footer class="footer">
        <small>
          &copy; Copyright <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time> <a href="http://kary.us">Pouya Kary</a> and <a href="https://github.com/DeerMichel">Micha Hanselmann</a>, All rights reserved.
        </small>
      </footer>
    </div><br><br>

  </body>
</html>
